<body data-spy="scroll" data-target="#navbar-example">   
  
  <div id="top" class="jumbotron" data-position="center right" style="height:   
          348px;">
    <div class="container">
      <h1>Preeti Deshmukh</h1>
      <p class="lead">Interactive resume</p>
    </div>
      
    <div class="overlay"></div>
      
    <a href="#profile" class="scroll-down"> 
      <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
  </div>
    
  <nav class="navbar navbar-default" id="navbar-example" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#profile">Profile</a></li>
        <li><a href="#careers">Careers</a></li>
        <li><a href="#experiences">Experiences</a></li>
        <li><a href="#abilities">Abilities</a></li>       
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>


  <!-- ########Profile Data####### -->
    
  <div class="background-white">
    <div id="profile" class="container">
      <h2>Profile</h2>
      <p class="lead">
            “The best way to turn a woman's head is to tell her she has a
             beautiful profile.”<br>- Sacha Guitry, Some lines about Me.
            </p>

            <hr>
      
            <p class="lead">I'm Ruby-On-Rails and a creative Web developer</p>
             <div class="row">
              <div class="col-md-4">
               <h3>About me</h3>
               <p>
                I am Software developer. I am currently working as Ruby-On-Rails developer. Also I can manage designing and can go better with Bootstrap. Also I like working in a team, you'll learn faster and more. As the saying goes: 'two heads are better than one'.   
             </p>
              </div>
        <div class="col-md-4 text-center" alt="Pascal van Gemert" width="246" height="246">       
           <%= image_tag "me.jpg"%>         
        </div>
        <div class="col-md-4">
          <h3>Details</h3>
          <p>
            <strong>Name:</strong><br>
            Preeti Padmakar Deshmukh<br>
            <strong>Age:</strong><br>
            26 years<br>
            <strong>Location:</strong><br>
            Pune, Maharashtra   
          </p>    
        </div>
             </div>     
        </div>  
  </div>  
<br><br><br>

  <!-- ########Career Data####### -->
    
  <div id="careers" class="container">
    <h2>Career</h2>
        <p class="lead">
         “Protons give an atom its identity, electrons its personality.”<br>- Bill Bryson, A short history of nearly everything
        </p>

        <h3>Educations</h3>

       <div class="careers">          
           <div class="career row">
           <div class="col-md-4">
             <h4>Mahatma Gandhi Mission's College Of Engineering</h4>
             <p >
              August 2007       - 
              july 2011       
                   </p>
            </div>
            <div class="col-md-8">
              <p>
            <strong>Bachelor - Computer Science</strong>
            <span class="hidden-phone">
             The education was mainly C, C++ and Java-based programming, but I also learned about SQL, DBMS and more. I also learned about OOP's concept, Operating systems and more..
          </span>
            <span class="career-details">
             <span class="location">
              <span class="glyphicon glyphicon-map-marker"></span>
              'Nanded         
             </span>
            </span>
              </p>
            </div>
          </div>  
          
          <div class="career row">
            <div class="col-md-4">
             <h4>yeshwant Mahavidyalaya</h4>
              <p class="career-period">
               jun 2005       - 
               Jun 2007     
            </p>
            </div>
            <div class="col-md-8">
              <p>
            <strong>Science - Specialization ( Computer Science )</strong>
            <span class="hidden-phone">
          I graduated highschool, where I enjoyed doing Math, Physics, Chemistry and Computer Science.        
          </span>
            <span class="career-details">
             <span class="location">
              <span class="glyphicon glyphicon-map-marker"></span>
              Nanded          
             </span>
            </span>
              </p>
            </div>
          </div>  

          <div class="career row">
            <div class="col-md-4">
             <h4>Nagarjuna Public School</h4>
              <p class="career-period">
               jun 2005   
            </p>
            </div>
            <div class="col-md-8">
              <p>
            <strong>Schooling</strong>
            <span class="hidden-phone">
          I enjoyed Maths and Computer classes and here I decided to with computers. Though there were other subjects too but it was a bit hard to deal with them.        
          </span>
            <span class="career-details">
             <span class="location">
              <span class="glyphicon glyphicon-map-marker"></span>
              Nanded          
             </span>
            </span>
              </p>
            </div>
          </div>  
       </div>
    </div>
  
  
<!-- ########Experience Data####### -->

  <div id="experiences" class="container">
    <h2>Experiences</h2>
    <p class="lead">
         “Experience without theory is blind, but theory without experience is
          mere intellectual play.”  - Immanuel Kant
        </p>

        <hr>
        
        <h3>Companies</h3>

       <div class="experiences">  
           <div class="experience row">
           <div class="col-md-4">
             <h4>BirdVision Consulting PVT. LTD.</h4>
             <p >
              june 2015       - 
              Present       
                   </p>
            </div>
            <div class="col-md-8">
              <p>
            <strong>ROR Developer - Ruby On Rails Developer</strong>
            <span class="hidden-phone">
             I work as senior ROR developer. Working with MYSQL database. 
          </span>
            <span class="experience-details">
             <span class="location">
              <span class="glyphicon glyphicon-map-marker"></span>
              'Kharadi, Pune
              <span class="seperator">|</span>
                <span class="link">
                <span class="glyphicon glyphicon-link"></span>
                  <a href="http://www.birdvision.in/" target="_blank">http://www.birdvision.in/</a>
                  </span>         
                </span>
            </span>
              </p>
            </div>
          </div>        
           <div class="experience row">
           <div class="col-md-4">
             <h4>I.B. Software Services</h4>
             <p >
              May 2013        - 
              June 2015       
                   </p>
            </div>
            <div class="col-md-8">
              <p>
            <strong>ROR Developer - Ruby On Rails Developer</strong>
            <span class="hidden-phone">
             I work as junior ROR developer. I work for a product base company and with development I am good at designing. I am working with Bootstrap css and Postgres database.
          </span>
            <span class="experience-details">
             <span class="location">
              <span class="glyphicon glyphicon-map-marker"></span>
              'Kharadi, Pune
              <span class="seperator">|</span>
                <span class="link">
                <span class="glyphicon glyphicon-link"></span>
                  <a href="http://www.ibsoftwareservices.com/" target="_blank">http://www.ibsoftwareservices.com/</a>
                  </span>         
                </span>
            </span>
              </p>
            </div>
          </div>

          <div class="experience row">
            <div class="col-md-4">
             <h4>Pawde Data Systems</h4>
              <p class="experience-period">
               july 2011        - 
               october 2012     
            </p>
            </div>
            <div class="col-md-8">
              <p>
            <strong>Core Java Developer</strong>
            <span class="hidden-phone">
          I worked in a team of 5. I was a core java developer and was working for a ciy based project for 17 months. Later skipped on ROR technology.        
          </span>
            <span class="experience-details">
             <span class="location">
              <span class="glyphicon glyphicon-map-marker"></span>
              Nanded          
             </span>
            </span>
              </p>
            </div>
          </div>  
       </div>
    </div>

    
    <!-- ########Ability Data####### -->

  <div class="background-white">
    <div id="abilities" class="container">
      <h2>Abilities</h2>
            <p class="lead">
          “Life without knowledge is death in disguise.”<br>- Talib Kweli
            </p>

            <hr>

           <h3>Skills</h3>

           <div class="row">    
           <div class="col-md-6">
           <ul class="no-bullets">
              <li>
          <span class="ability-title">Object Orientated Programming</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
            </li>

            <li>
          <span class="ability-title">Core Java</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
            </li>       
        
          <li>
          <span class="ability-title">Javascript</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
          </li>

          <li>
          <span class="ability-title">JSON</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
            </span>
            </li>

            <li>
          <span class="ability-title">PHP</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
            </li>

            <li>
          <span class="ability-title">Wordpress</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
            </li>               
        
            <li>
          <span class="ability-title">HTML</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star "></span>
            </span>
            </li>       
           </ul>
           </div>
           <div class="col-md-6">
         <ul class="no-bullets">        
          
          <li>
          <span class="ability-title">MVC Pattern</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
          </li>

          <li>
          <span class="ability-title">Ruby</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
          </li>

          <li>
            <span class="ability-title">CSS</span>
            <span class="ability-score">                
            <span class="glyphicon glyphicon-star filled"></span>
              <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
          </li> 

            <li>
              <span class="ability-title">Bootstrap Framework</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
              </li>

              <li>
          <span class="ability-title">MySQL</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
          </li> 

          <li>
          <span class="ability-title">JQuery</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
          </li>       
           </ul>
           </div>   
           </div>

           <hr>

          <h3>Languages</h3>

         <div class="row">    
          <div class="col-md-6">
          <ul class="no-bullets"> 
        
        <li>
          <span class="ability-title">Marathi (Mother tongue)</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
          </span>
        </li>         
          
        <li>
          <span class="ability-title">Hindi (Daily use)</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
          </span>
        </li>     
          </ul>
          </div>

          <div class="col-md-6">
          <ul class="no-bullets">
        
        <li>
          <span class="ability-title">English (Survivable)</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>     
          </ul>
          </div>    
         </div>

         <hr>

        <h3>Tools</h3>

         <div class="row">    
         <div class="col-md-6">
         <ul class="no-bullets">

         <li>
          <span class="ability-title">Notepad</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
          </span>
        </li>

          <li>
          <span class="ability-title">MS Office</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
          </span>
        </li>

        <li>
          <span class="ability-title">Windows</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
          </span>
        </li> 
                
        <li>
          <span class="ability-title">Firefox</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>     
         </ul>
         </div>

         <div class="col-md-6">
         <ul class="no-bullets">          
        
        <li>
          <span class="ability-title">Internet Explore</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>     
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>
                
        <li>
          <span class="ability-title">Sublime Text (2 years)</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>
        
        <li>
          <span class="ability-title">Aptana</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>
        
          
        <li>
          <span class="ability-title">Git</span>
          <span class="ability-score">
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star filled"></span>
            <span class="glyphicon glyphicon-star "></span>
            <span class="glyphicon glyphicon-star "></span>
          </span>
        </li>       
          </ul>
         </div> 
       </div>
      </div>
    </div>
      
  <div class="background-gray">
    <div id="contact" class="container">
      <h2>Contact</h2>
      <p class="lead">
        “If I had asked people what they wanted, they would have said faster horses. ”<br>- Henry Ford
      </p>

            <hr>

      <div class="row">
        <div class="col-md-6">
          <ul class="no-bullets">
            <li>
              <a href="http://twitter.com/preeti_deshmukh" target="_blank">
                <span class="fa fa-twitter-square"></span>
                http://twitter.com/preeti_deshmukh        
              </a>
            </li>
            <li>
              <a href="https://in.linkedin.com/pub/preeti-deshmukh/7b/689/714"  
                 target="_blank">
                <span class="fa fa-linkedin-square"></span>         
                https://in.linkedin.com/pub/preeti-deshmukh/7b/689/714    
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul class="no-bullets">     
            <li>
              <a href="mailto:moc.liamg@860hkmhsdtrp">
              
                <span class="fa fa-envelope"></span>
                <span style="unicode-bidi:bidi-override; direction: rtl;">
                  moc.liamg@860hkmhsdtrp          </span>
              </a>
            </li>
          </ul>
        </div>
      </div>

             <hr>

    </div>
    
    
</body>